
<div class="container">

    <div>
        <app-widget-area></app-widget-area>
    </div>
    
    <br>
    <mat-divider></mat-divider>
    <br>
    
    <div class="row stats-cards">
        <mat-card class="col-md-3 col-sm-6">
            <app-widget-card
                label="New users" total="12k" percentage="50">
            </app-widget-card>
        </mat-card>
        <mat-card class="col-md-3 col-sm-6">
            <app-widget-card
                label="Users redention" total="10k" percentage="40">
            </app-widget-card>
        </mat-card>
        <mat-card class="col-md-3 col-sm-6">
            <app-widget-card
                label="Users engagament" total="8k" percentage="30">
            </app-widget-card>
        </mat-card>
        <mat-card class="col-md-3 col-sm-6">
            <app-widget-card
                label="Users" total="18k" percentage="20">
            </app-widget-card>
        </mat-card>
    </div>
    
    <br>
    <mat-divider></mat-divider>
    <br>
    
    <div class="row">
        <div class="col-md-8">
            <mat-card>
                Table
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card>
                Pie chart
            </mat-card>
        </div>
    </div>
    
    <br>

</div> <!--container-->
